/*@import "tailwindcss";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";



.hero-section {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.hero-slide {
  position: relative;
}

.hero-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  filter: brightness(30%);
}

.hero-overlay {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
}

.hero-overlay h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-overlay p {
  margin-top: 10px;
  font-size: 1.2rem;
}

.hero-button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #fec544;
  color: #000;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.hero-button:hover {
  background-color: #dcae3c;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

